@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}

body>header{
    background-color: rgb(219, 154, 194);
    font-family: 'Varela Round', sans-serif;
}

body>header>div{
    display: inline-block;
}

aside{
    position: absolute;
    top: 200px;
    width: 200px;
    right: 0px;
    z-index: 2;
    background-color: lightcyan;
    border-radius: 15px;
    padding: 1em;
    border: solid 1px;
}